 

<section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>അക്ഷരമാല </h2>
                        
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            <center><img src="/img/malayalam.gif" class="img-responsive" alt="alphabets"></center>
        </div>
    </section>
