 

<section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Learn basics of malayalam language</h2>
                        <p class="text-muted">Check out what you can do with Learn|Malayalam</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <a href="/users/alphabets"><i class="icon-present text-primary"></i></a>
                                    <h3>Learn alphabets</h3>
                                    <p class="text-muted">Learn the nuts and bolts of malayalam language</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <a href="/users/numbers"><i class="icon-present text-primary"></i></a>
                                    <h3>Numbers</h3>
                                    <p class="text-muted">learn the basic number system 1-10</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
