<!DOCTYPE html>

<head>
  <title>Beginner Malayalam Food</title> 

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.learn-malayalam.com/support-files/learn-malayalam.xml">

  <script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/ca-pub-4352813711060881.js"></script><script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/functions.js" language="javascript" type="text/javascript"></script>

  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/fix.js"></script> <!-- start: tool_blocks.sbi_html_head -->


<body link="Blue" vlink="Purple" alink="Red" bgcolor="#FFFFFF">
<center>
        <h1>Colors</h1>
        <table border="1" cellpadding="0">
          <tbody><tr>
            <td><p>Dark (Shade)</p></td>
            <td><p>Kad-am</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/dark.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Light (Shade)</p></td>
            <td><p>Ell-am</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/light.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td width="103"><p>Red</p></td>
            <td width="444"><p>choma-puh</p>
                <p>
                  <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/red.mp3">           
                </p></td>
          </tr>
          <tr>
            <td><p>Orange</p></td>
            <td><p>Orang-uh</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/orange.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Yellow</p></td>
            <td><p>man-ya</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/yellow.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Green </p></td>
            <td><p>patch-a</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/green.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Blue</p></td>
            <td><p>neel-a</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/blue.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>White</p></td>
            <td><p>vella</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/white.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Black</p></td>
            <td><p>Karap-uh</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/black.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Brown</p></td>
            <td><p>Kappi-calaruh</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/brown.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Gold</p></td>
            <td><p>Sor-num</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/gold.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Silver</p></td>
            <td><p>Vell-ee</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/silver.mp3">
                  <p></p>
                      </td>
          </tr>
        </tbody></table>
        
       </center>

</body></html>