<!DOCTYPE html>

<head>
  <title>Beginner Malayalam Food</title> 

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.learn-malayalam.com/support-files/learn-malayalam.xml">

  <script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/ca-pub-4352813711060881.js"></script><script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/functions.js" language="javascript" type="text/javascript"></script>

  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/fix.js"></script> <!-- start: tool_blocks.sbi_html_head -->


<body link="Blue" vlink="Purple" alink="Red" bgcolor="#FFFFFF">
<center>
        <h1>Directions</h1>
        
        
        <table border="1" cellpadding="0">
          <tbody><tr>
            <td width="188"><p>North</p></td>
            <td width="359"><p>Vadakku</p>
                <p><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/north.mp3"></p></td>
          </tr>
          <tr>
            <td><p>South</p></td>
            <td><p>Thekku</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/south.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>East</p></td>
            <td><p>Kizhakku</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/east.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>West</p></td>
            <td><p>Padinjaru</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/west.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Here</p></td>
            <td><p>Ividey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/here.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>There</p></td>
            <td><p>Avidey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/there.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Where ?</p></td>
            <td><p>Yevidey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/where.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Left</p></td>
            <td><p>Edathu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/left.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Right</p></td>
            <td><p>Valathu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/right.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Front</p></td>
            <td><p>Munnil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/front.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Behind</p></td>
            <td><p>Pinnil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/behind.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Inside</p></td>
            <td><p>Ulil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/inside.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Outside</p></td>
            <td><p>Puragil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/outside.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Near</p></td>
            <td><p>Arigey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/near.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Far</p></td>
            <td><p>Agaley</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/far.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Top</p></td>
            <td><p>Mugalil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/top.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Middle</p></td>
            <td><p>Madhyathil</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/middle.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Bottom</p></td>
            <td><p>Thazhey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/bottom.mp3">
                  <p></p>
                      </td>
          </tr>
        </tbody></table>
        <h1 align="center">&nbsp;</h1>
        <table width="580" border="0">
          <tbody><tr>
            <td><a href="http://www.learn-malayalam.com/Malayalam-Vocab.html" onclick="return FIX.track(this);">&lt; Malayalam Vocab </a></td>
            <td><div align="right"><a href="http://www.learn-malayalam.com/Beginner-Malayalam-Pronouns.html" onclick="return FIX.track(this);">Malayalam Pronouns&gt;</a></div></td>
          </tr>
        </tbody></table>
       </center>

</body></html>