<!DOCTYPE html>

<head>
  <title>Beginner Malayalam Food</title> 

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.learn-malayalam.com/support-files/learn-malayalam.xml">

  <script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/ca-pub-4352813711060881.js"></script><script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/functions.js" language="javascript" type="text/javascript"></script>

  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/fix.js"></script> <!-- start: tool_blocks.sbi_html_head -->


<body link="Blue" vlink="Purple" alink="Red" bgcolor="#FFFFFF">
<center>
        <h1>Family</h1>
        <table border="1" cellpadding="0">
          <tbody><tr>
            <td width="103"><p>Mum</p></td>
            <td width="444"><p>Amma</p>
                <p><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/mum.mp3"></p></td>
          </tr>
          <tr>
            <td><p>Dad</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Acha</div></td>
                  <td><div align="center">Achen</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/dad.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/dad2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Brother</p></td>
            <td><p>Sahodharan</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/brother.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Older Brother</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">ann-na</div></td>
                  <td><div align="center">chet-tah</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/older-brother.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/older-brother2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Young Brother</p></td>
            <td><table width="139" border="0">
                <tbody><tr>
                  <td width="128"><div align="center">unien</div></td>
                  <td width="128"><div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/younger-brother.mp3">
                      <p></p>
                          </td>
                  <td>&nbsp;</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Sister</p></td>
            <td><p>Sahodhari</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/sister.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Older Sister</p></td>
            <td><p>chey-chi</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/older-sister.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Younger Sister</p></td>
            <td><p>ani-ettee</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/younger-sister.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Son</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Maghan</div></td>
                  <td><div align="center">Monay</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/son.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/son2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Daughter</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Maghal</div></td>
                  <td><div align="center">Molay</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/daughter.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/daughter2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Husband</p></td>
            <td><p>Bharthaavu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/husband.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Wife</p></td>
            <td><p>Bhaarya</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/wife.mp3"> </td>
          </tr>
          <tr>
            <td><p>Spouse</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Jeevidha pankaali</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/spouse.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Fiance</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Vivaaham Kazhikkan poguna aal</div></td>
                  <td><div align="center">bhaavi jeevidha pankaali</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/fiance.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/fiance2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Boyfriend</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td>Aansuhru</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/boyfriend.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Girlfriend</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Pensuhruth</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/girlfriend.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Partner</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Pankaali</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/partner.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Uncle</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Ammaavan</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/uncle.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Aunt</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Ammaayi</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/aunt.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Niece</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Marumaghal</div></td>
                  <td><div align="center">Molay</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/niece.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/niece2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Nephew</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Marumaghan</div></td>
                  <td><div align="center">Monay</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/nephew.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/nephew2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Cousin</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Kasin</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/cousin.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Grandson</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Peyramaghan</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/grandson.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Granddaughter</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Peyramaghal</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/granddaughter.mp3">
                    <p></p></td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Daughter in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Marumaghal</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/daughter-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Son in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Marumaghan</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/son-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Mother in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Ammaayl amma</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/mother-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Father in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Ammaayl acha</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/father-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Brother in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Allee-an</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/brother-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Sister in law</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Nathoon</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/sister-in-law.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Friend</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Suhruth</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/friend.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Enemy</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Shathru</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/enemy.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
        </tbody></table>
        <p>&nbsp;</p>
       
        </center>

</body></html>