<!DOCTYPE html>

<head>
  <title>Beginner Malayalam Food</title> 

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.learn-malayalam.com/support-files/learn-malayalam.xml">

  <script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/ca-pub-4352813711060881.js"></script><script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/functions.js" language="javascript" type="text/javascript"></script>

  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/fix.js"></script> <!-- start: tool_blocks.sbi_html_head -->


<body link="Blue" vlink="Purple" alink="Red" bgcolor="#FFFFFF">
<center>
        <h1>Greetings</h1>
        <table border="1" cellpadding="0">
          <tbody><tr>
            <td width="103"><p>Hello</p></td>
            <td width="444"><p>Hello</p>
                <p>
                  <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/hello.mp3&gt;&lt;/p&gt;&lt;/td&gt;
          &lt;/tr&gt;
          &lt;tr&gt;
            &lt;td&gt;&lt;p&gt;Welcome&lt;/p&gt;&lt;/td&gt;
            &lt;td&gt;&lt;p&gt;Nama-skaaram&lt;/p&gt;
                &lt;embed src=" http:="" www.learn-malayalam.com="" support-files="" player.swf"="">
                  </p>
                      </td>
          </tr>
          <tr>
            <td><p>How are you ?</p></td>
            <td><p>&nbsp;</p>
                <table width="400" border="0">
                  <tbody><tr>
                    <td width="125"><div align="center">Conversational</div></td>
                    <td width="127">&nbsp;</td>
                    </tr>
                  <tr>
                    <td>Yengana    sughum-thaneh</td>
                    <td>&nbsp;</td>
                    </tr>
                  <tr>
                    <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/howareyou.mp3"> </td>
                    <td><div align="center">Formal</div></td>
                    </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>Thangalkku sughamano</td>
                    </tr>
                  <tr>
                    <td><div align="center">Informal </div></td>
                    <td> <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/how-are-you3.mp3"> </td>
                    </tr>
                  <tr>
                    <td>Ningalkku sughamano</td>
                    <td>&nbsp;</td>
                    </tr>
                  <tr>
                    <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/how-are-you2.mp3"> </td>
                    <td>&nbsp;</td>
                    </tr>
                </tbody></table>
                <p>&nbsp;</p></td>
          </tr>
          <tr>
            <td><p>I'm Fine</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">yenikku sughamanu</div></td>
                  <td><div align="center">sug-hum-dana</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/im-fine.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/im-fine2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Thankyou</p></td>
            <td><p>Nanni</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/thankyou.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Sorry</p></td>
            <td><p>maa-pu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/sorry.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Please</p></td>
            <td><p>Devi</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/please.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Pardon me</p></td>
            <td><p>yenodu Kshamichalum</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/pardon-me.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Youre welcome</p></td>
            <td><p>Thaangalkku swagatham</p>
                <p>
                  <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/youre-welcome.mp3">           
                </p>
              <p></p>
            </td>
          </tr>
          <tr>
            <td><p>Good morning</p></td>
            <td><p>Suprabhaatham</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-morning.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Good afternoon</p></td>
            <td><p>Subhasayahnam</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-afternoon.mp3"> </td>
          </tr>
          <tr>
            <td><p>Good evening</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Subhasayahnam</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-evening.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Good Day</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Shubhadhinam</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-day.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Good Night</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td>Shubharaathri</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-night.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Best Wishes</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Aashamsagal</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/best-wishes.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Happy Birthday</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Janmadhina Aashamsagal</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/happy-birthday.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Congratulations</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Abhinandanangal</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/congratulations.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>My Deepest Sympathies</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">yendey agaadhamaaya anusochanam</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/my-deepest-sympathies.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Good Luck</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">nallathu varatte</div></td>
                  <td><div align="center">nanmagal neyrrunu</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-luck2.mp3">
                      <p></p>
                          </td>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/good-luck3.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Nice Weather</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td>Sughakaramaya kalavastha
                    <div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/nice-weather.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
        </tbody></table>
      </center>

</body></html>