

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1>Learn|Malayalam is a digital tutor,which will help you to learn malayalam language from base.If you are new user please register! and start learning malayalam</h1>
                            <a href="/users/register" class="btn btn-outline btn-xl page-scroll">Register for Free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait white">
                            <div class="device">
                                <div class="screen">
                                    <form role="form" action="/users/login" accept-charset="UTF-8" method="post" class="signup-form">
      <fieldset>
     <legend>Sign in</legend>
     <label for="user-email">username</label>
     <input type="text" placeholder="username" name="username"  required/>
     <label for="user-password">Password</label>
     <input placeholder="password" type="password" name="password" required/>
     <br>

     <button type="submit">Sign in</button>
   </fieldset>
 </form>

</form>

                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the Learn|Malayalam is about!</h2>
                    <p>Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges">
                        <a class="badge-link" href="#"><img src="/img/google-play-badge.svg" alt=""></a>
                        <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    

    <section class="cta">
        <div class="cta-content">
            <div class="container">
                <h2>Stop waiting.<br>Start today.</h2>
                <a href="#" class="btn btn-outline btn-xl page-scroll">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay"></div>
    </section>

    <section id="contact" class="contact bg-primary">
        <div class="container">
            
            <ul class="list-inline list-social">
                <li class="social-twitter">
                    <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="social-facebook">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li class="social-google-plus">
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                </li>
            </ul>
        </div>
    </section>

  