 

<section id="features" class="features">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Numbers </h2>
                        
                        <hr>
                    </div>
                </div>
            </div>
             <div class="row">
            <div class="col-md-6">
            <center><img src="/img/a.png" class="img-responsive" alt="alphabets"></center>
            </div>
            <div class="col-md-6">
            <center><img src="/img/b.png" class="img-responsive" alt="alphabets"></center>
            </div>
            </div> 
            <br>
            <h2>Watch the youtube video to study how to pronounce the numbers!!!</h2> 
              <center><a href="https://www.youtube.com/watch?v=n-Tqe45e7-g"><img src="/img/yt.png" class="img-responsive" alt="alphabets"></a></center>
              
        </div>
    </section>
