<!DOCTYPE html>

<head>
  <title>Beginner Malayalam Food</title> 

  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.learn-malayalam.com/support-files/learn-malayalam.xml">

  <script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/ca-pub-4352813711060881.js"></script><script src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/functions.js" language="javascript" type="text/javascript"></script>

  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="./Beginner Malayalam Food - Free Online Malayalam Lessons and Education on Malayalam Food and Drink_files/fix.js"></script> <!-- start: tool_blocks.sbi_html_head -->


<body link="Blue" vlink="Purple" alink="Red" bgcolor="#FFFFFF">
<center>
        <h1>Pronouns</h1>
        <table border="1" cellpadding="0">
          <tbody><tr>
            <td width="141"><p>I</p></td>
            <td width="414"><p>nyaan</p>
                <p><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/i.mp3"></p></td>
          </tr>
          <tr>
            <td><p>My</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">
                      <p>Yenda</p>
                  </div></td>
                  <td><div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/my.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><div align="center">Yenday</div></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/my2.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Me</p></td>
            <td><p>Yenikku</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/me.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>You</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Ningal</div></td>
                  <td><div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/you.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><div align="center">Nee</div></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/you2.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>We</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">Namela</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/we.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>Us</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">Nyaan-gall-ku</div></td>
                  <td><div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/us.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><div align="center">Namela</div></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/we.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>They</p></td>
            <td><p>Aver</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/they.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Their</p></td>
            <td><p>Avarudey</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/their.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Who</p></td>
            <td><p>aarru</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/who.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Which</p></td>
            <td><p>ed-hu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/which.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Where</p></td>
            <td><p>yeve-day</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/where.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>Why</p></td>
            <td><p>yendu kondu</p>
                <embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/why.mp3">
                  <p></p>
                      </td>
          </tr>
          <tr>
            <td><p>What</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="center">yentha-ru</div></td>
                  <td><div align="center"></div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/what.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><div align="center">yend-u</div></td>
                  <td>&nbsp;</td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/what2.mp3">
                    <p></p></td>
                  <td>&nbsp;</td>
                </tr>
            </tbody></table></td>
          </tr>
          <tr>
            <td><p>When</p></td>
            <td><table width="200" border="0">
                <tbody><tr>
                  <td><div align="left">yepo-ru</div></td>
                </tr>
                <tr>
                  <td><embed src="http://www.learn-malayalam.com/support-files/player.swf" quality="high" width="290" height="24" name="mp3player" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="width=290&amp;height=24&amp;autostart=no&amp;bg=0x990000&amp;leftbg=0x009933&amp;border=0x009933&amp;text=0xFFBF00&amp;soundFile=http://www.learn-malayalam.com/media-files/when2.mp3">
                      <p></p>
                          </td>
                </tr>
            </tbody></table></td>
          </tr>
        </tbody></table>
       </center>

</body></html>